# Python
__pycache__/
*.py[cod]

# Environment
venv/
.env

# Django
db.sqlite3
media/
*.log
staticfiles/

# IDEs
.vscode/
.idea/

# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environment
venv/

# VSCode or PyCharm configs
.vscode/
.idea/

# SQLite DB (optional)
db.sqlite3

# Environment variables
.env

# Django collectstatic
/staticfiles/
venv/
.env
db.sqlite3
